.footer {
    padding: 30px 50px;
    margin-top: 150px;
    background-color: #1D1D1D;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.copy_txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.copy_txt a {
    letter-spacing: 0.8px;
    color: white;
    text-decoration: none;
}

.copyright_txt {
    color: gray;
}

.socials {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.social {
    width: 40px;
    height: 40px;
    color: white;
}

@media screen and (max-width:480px) {
    .logo{
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .footer {
        padding: 20px 20px;
        margin-top: 50px;
        gap: 25px;
    }

    .socials {
        justify-content: center;
        gap: 10px;

    }

    .social {
        width: 30px;
        height: 30px;
    }

    .copy_txt {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .copyright_txt {
        font-size: 10px;
        text-align: center;
    }
}