.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 60px;
}

.event_container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.dept_col {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 0;
}

.event_col {
    width: 80%;
}

.event {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 260px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 30px 10px rgba(0, 0, 0, 0.45);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.event:hover {
    transform: scale(1.1);
}

.event .event_overlay {
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0));
}

.event:hover .event_overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0));
    transform: scale(1.1);
}

.event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.0);
}

.event_info {
    position: absolute;
    width: 90%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 2px 11px;
    gap: 5px;
    justify-content: space-between;
    background-color: rgb(43, 122, 218);
    border: 2px white solid;
}

.event_title {
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: 700;
    line-height: 27px;
}

.date {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.2px;
}

.event_des {
    font-size: 14px;
    font-weight: 400;
    transition: 1s ease-in-out;
}

.hide {
    opacity: 0;
}

.dept {
    padding: 12px;
    width: 70%;
    background-color: #0F4BA5;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    box-shadow: 7px 7px #01265C;
    cursor: pointer;
    color: white;
    border: none;
}

.dept:hover {
    background-color: #0463F1;
    box-shadow: 7px 7px #00337E;
    transform: scale(1.1);
}

@media screen and (max-width:480px) {

    .event_container {
        flex-direction: column;
    }



    .event_col {
        width: 100%;
    }

    .events {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .dept_col {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .event {
        width: auto;
        max-width: 280px;
        height: auto;
    }


    .dept {
        max-width: 30vw;
        padding: 10px;
        font-size: 12px;
    }

    .event_info {
        padding: 2px 12px;
    }

}