*,
::after,
::before {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #151515;
  color: white;
}

.app {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1300px;
  width: 100%;
}